label.bx-disk-context-button {
    cursor: pointer;
}
.bx-disk-context-button {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    margin-right: 1px;
    padding: 13px 20px;
    -webkit-transition: background .2s cubic-bezier(.000,.465,.750,.750);
    -moz-transition: background .2s cubic-bezier(.000,.465,.750,.750);
    -o-transition: background .2s cubic-bezier(.000,.465,.750,.750);
    transition: background .2s cubic-bezier(.000,.465,.750,.750);
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    color: #535c69;
    font-family: "OpenSans-Bold";
}
.bx-disk-context-button {
    position: relative;
    overflow: hidden;
}
label.bx-disk-context-button {
    cursor: pointer;
}
.bx-disk-context-button {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    margin-right: 1px;
    padding: 13px 20px;
    -webkit-transition: background .2s cubic-bezier(.000,.465,.750,.750);
    -moz-transition: background .2s cubic-bezier(.000,.465,.750,.750);
    -o-transition: background .2s cubic-bezier(.000,.465,.750,.750);
    transition: background .2s cubic-bezier(.000,.465,.750,.750);
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    color: #535c69;
    font-family: "OpenSans-Bold";
}
.hide-form form {
    display: none;
    opacity: 0;
}
form {
    margin: 0;
    padding: 0;
}
.bx-disk-context-button:hover {
	background:#def9ff;
}
.ynsir-show-ext-file-cv {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
    color: #abaeaf;
}