div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.event {
    background: url("images/popup/event.gif") no-repeat 0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.quote {
    background: url("images/popup/quote.png") no-repeat 0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.invoice {
    background: url("images/popup/invoice.png") no-repeat 0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.deal {
    background: url("images/popup/deal.gif") no-repeat 0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.task {
    background: url("images/popup/task.gif") no-repeat 0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.subscribe {
    background: url("images/popup/subscribe.gif") no-repeat 0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.calendar {
    background: url("images/popup/calendar.gif") no-repeat 0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.bizproc {
    background: url("images/popup/bizproc.gif") no-repeat 2px 0 !important;
    width: 18px !important;
    height: 18px !important;
}

a.bizproc {
    display: block;
    padding-right: 20px;
}

a.bizproc_status_attention {
    background: url("images/bizproc/bizproc_attention.gif") no-repeat right center;
}

a.bizproc_status_inprogress {
    background: url("images/bizproc/bizproc_attention.gif") no-repeat right center;
}

div.rq-multi-val-sep {
    margin-top: 8px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -200px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 6px;
    background-color: #3bc8f5;
    color: white;
}

.modal-body {
    padding: 2px 10px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.popup-window-titlebar {
    padding: 15px 0px 30px 0px;
    font-size: 15px;
    font-weight: bold;
    text-align: justify !important;
    height: 0px;
}

.popup-window-titlebar {
    padding: 15px 0px 30px 0px;
    font-size: 15px;
    font-weight: bold;
    text-align: justify !important;
    height: 0px;
}

.crm-task-list-head {
    padding: 0px !important;
}

.popup-window-titlebar {
    padding: 15px 0px 45px 0px !important;
    font-size: 15px;
    font-weight: bold;
    text-align: justify !important;
    height: 0px;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 50%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ynsir-a-convert {
    /*color: ;*/
    font-weight: bold;
    margin-left: 10px;
}

.ynsir-a-convert-failed {
    font-weight: bold;
    margin-left: 10px;
}

.bp-status {
    padding-left: 23px;
    font-size: 15px;
    width: 18px;
    height: 18px;
    display: -webkit-inline-box;
    background: url(/bitrix/components/ynsirecruitment/candidate.list/templates/.default/images/bp-sprite.png) no-repeat -27px -61px;
    color: #61aa00;
}

.bp-status-failed {
    padding-left: 19px;
    font-size: 15px;
    color: red;
    width: 18px;
    height: 18px;
    display: -webkit-inline-box;
    background: url(/bitrix/components/ynsirecruitment/candidate.list/templates/.default/images/bp-sprite.png) no-repeat -27px -76px;
}

.files-storage-block {
    text-align: center;
}

.hidden {
    display: none;
}

#myBar {
    /*width: 10%;*/
    height: 100%;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#popupshowModalConvertFromExcel {
    margin: auto !important;
}

#mfi-RESUME_EXCEL_FILE-button {
    margin: auto;
}

#show_report {
    width: 100%;
    text-align: left;  
}
#show-less-detail{
    cursor: pointer;
}
#pagetitle-menu {
    display: block;
    padding-left:0px;
}

#lists-title-action {
    height: 39px;
    padding: auto;
}

.webform-small-button-text {
    line-height: 39px !important;
}

.bx-filter-button .webform-small-button-icon {
    margin: 16px -5px 0 11px !important;
}

#load_samsum {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 22%;
    overflow: hidden;
}
#popup-window-content-popup_showModalConvertFromExcel{
    position: relative;
}
/*overlay*/

.blob {
    width: 2rem;
    height: 2rem;
    background: #38BDAB;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 {
    -webkit-animation: animate-to-2 1.5s infinite;
    animation: animate-to-2 1.5s infinite;
}

.blob-3 {
    -webkit-animation: animate-to-3 1.5s infinite;
    animation: animate-to-3 1.5s infinite;
}

.blob-1 {
    -webkit-animation: animate-to-1 1.5s infinite;
    animation: animate-to-1 1.5s infinite;
}

.blob-4 {
    -webkit-animation: animate-to-4 1.5s infinite;
    animation: animate-to-4 1.5s infinite;
}

.blob-0 {
    -webkit-animation: animate-to-0 1.5s infinite;
    animation: animate-to-0 1.5s infinite;
}

.blob-5 {
    -webkit-animation: animate-to-5 1.5s infinite;
    animation: animate-to-5 1.5s infinite;
}

@-webkit-keyframes animate-to-2 {
    25%, 75% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-2 {
    25%, 75% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-3 {
    25%, 75% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-3 {
    25%, 75% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-1 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    50%, 75% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-1 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    50%, 75% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-4 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    50%, 75% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-4 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    50%, 75% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-0 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    50% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }
    75% {
        -webkit-transform: translateX(-7.5rem) scale(0.5);
        transform: translateX(-7.5rem) scale(0.5);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-0 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    50% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }
    75% {
        -webkit-transform: translateX(-7.5rem) scale(0.5);
        transform: translateX(-7.5rem) scale(0.5);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@-webkit-keyframes animate-to-5 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    50% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }
    75% {
        -webkit-transform: translateX(7.5rem) scale(0.5);
        transform: translateX(7.5rem) scale(0.5);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-5 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    50% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }
    75% {
        -webkit-transform: translateX(7.5rem) scale(0.5);
        transform: translateX(7.5rem) scale(0.5);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

#bx-disk-container {
    text-align: center;
}
#folder_toolbar-convertcv{
    text-align: center;
}
.ynsir-show-ext-file-cv {
    text-align: center !important;
}
#bx-disk-container-convertexcel{
    text-align: center;
}
#bx-disk-container-convertcv{
    text-align: center;
}
.bp-button-wait{color:transparent!important;position:relative}
.bp-button-wait:before{background:none!important;box-shadow:inset 0 0 0 1px #fff;border-radius:50%;color:#fff;display:block;content:'_';font-size:10px;font-family:"OpenSans-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;line-height:10px;height:21px;top:0;left:50%;padding-right:6px;position:absolute;text-align:right;width:15px;box-sizing:content-box;bottom:0;margin:auto;margin-left:-11px}
.bp-button-wait:after{background:#fff!important;content:'';display:block;height:7px;position:absolute;top:-6px;left:50%;padding:0;width:1px;-webkit-transform-origin:0 100%;transform-origin:0 100%;-webkit-animation:bp-clock 1s infinite linear;animation:bp-clock 1s infinite linear;bottom:0;margin:auto;margin-left:-1px}
.bp-button-accept.bp-button-wait:before{color:#535c69;-webkit-box-shadow:inset 0 0 0 1px #535c69;box-shadow:inset 0 0 0 1px #535c69}
.bp-button-accept.bp-button-wait:after{background:#535c69!important}
@keyframes bp-clock{0%{transform:rotate(0deg)}50%{transform:rotate(180deg)}100%{transform:rotate(360deg)}}
@-webkit-keyframes bp-clock{0%{-webkit-transform:rotate(0deg)}50%{-webkit-transform:rotate(180deg)}100%{-webkit-transform:rotate(360deg)}}
@-moz-keyframes bp-clock{0%{-moz-transform:rotate(0deg);top:-6px}50%{-moz-transform:rotate(180deg)}100%{-moz-transform:rotate(360deg);top:-6px}}
.bp-button-icon{width:14px;height:11px;background:url(images/bp-sprite.png) no-repeat 1px -499px;display:inline-block;vertical-align:middle;float:left;margin:3px 0}
.bp-button-decline .bp-button-icon{background-position:1px -512px}
.bp-button-wait .bp-button-icon{opacity:0}

.files-storage{width:200px}
.files-name {
    position: relative;
    padding-left: 20px !important;
}

.files-list .wd-files-icon {
    background: url(images/files-sprite-2.png) no-repeat center -454px;
    left: -3px;
    top: 1px;
    height: 16px;
    position: absolute;
    width: 16px;
}
.files-list .feed-file-icon-docx {
    background: url(images/files-sprite-2.png) no-repeat 0 -288px!important;
    top: 25%;
}
.files-list .feed-file-icon-doc {
    background: url(images/files-sprite-2.png) no-repeat 0 -288px!important;
    top: 25%;
}
.files-list .feed-file-icon-excel {
    background: url(images/files-sprite-2.png) no-repeat 0 -224px!important;
    top: 25%;
}
.files-list .feed-file-icon-pdf {
    background: url(images/files-sprite-2.png) no-repeat 0 -414px!important;
    top: 25%;
}
.cv-profile-user-item-del {
    background: url(images/recruitment_control_panel.png) no-repeat center -2870px;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin-top: 3px;
    vertical-align: top;
    opacity: 0.4;
    width: 30px;
}
#bx-dfu-upload-FolderListconvertcv{
    position: fixed !important;
    top: 60px !important;
}
.files-size{
    width:80px;
}
.ynsir-associate-candidate-lock-detail {
    /*padding-left:px;*/
}
.ynsir-associate-candidate-lock-detail::before{
    content: '';
    height: 15px;
    background: url(images/recruitment_control_panel.png) 36px -1474px;
    width: 15px;
    position: absolute;
    left: -20px;
    top:-2px;
}