.element-error{
    border: 1px solid red;
}
.ynsirecruitment-setting-success{
    background-color: #bbed23;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: #545c6a;
}
.error{
    color: red;
}
.bx-edit-table {
    padding: 10px;
    width: 95%;
}
.bx-field-name{
    text-align: center;
    padding-right: 2%;
}